<!DOCTYPE html>
<html>
  <head>
    <title>Lisää profiilikuva</title>
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body>
    <div class="header">
      <h1>Lisää profiilikuva</h1>
    </div>

    <nav class="nav">
      <a href="/teatimes">Teehetket</a> |
      <a href="/add_review">Lisää teehetki</a> |
      <a href="/search">Haku</a> |
      <a href="/">Etusivu</a> | 
      {% if session.user_id %}
      <a href="/logout">Kirjaudu ulos</a> |
      <a href="/user/{{ session.user_id }}">Oma profiili</a>
      {% else %}
      <a href="/login">Kirjaudu sisään</a>
      {% endif %}
    </nav>

    <p>Lähetä jpg-tiedosto, jonka koko on enintään 100 kt</p>

    {% for message in get_flashed_messages() %}
    <p><strong>{{ message }}</strong></p>
    {% endfor %}

    <div class="form">
      <form action="/add_image" method="post" enctype="multipart/form-data">
        <label for="image">Kuva:</label>
        <input type="file" name="image" accept=".jpg" required />

        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="submit" value="Lähetä" />
      </form>
    </div>

    <div class="buttons">
      <a href="/user/{{ session.user_id }}">Takaisin profiiliin</a>
    </div>
  </body>
</html>
