<!DOCTYPE html>
<html>
  <head>
    <title>Lisää arvostelu</title>
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body>
    <div class="header">
      <h1>Lisää arvostelu</h1>
    </div>
    {% if session.user_id %}
    <h3>Tee vaan maistuu. Eikö niin {{ session["username"] }}?</h3>
    {% endif %}

    <form action="/add_review" method="POST">
      <p>
        <label for="title">Arvostelun otsikko:</label><br />
        <input type="text" name="title" required placeholder="Kirjoita arvostelun otsikko" />
      </p>
      <h2>Tassuarvosana:</h2>
      <div>
        {% for i in range(1, 6) %}
        <label> <input type="radio" name="rating" value="{{ i }}" required /> {{ i }} </label>
        {% endfor %}
      </div>
      <h2>Valitse teelaatu</h2>
      <div>
        {% for variety in varieties %}
        <label>
          <input type="radio" name="variety" value="{{ variety[0] }}" required />
          {{ variety[0].capitalize() }} </label
        ><br />
        {% endfor %}
      </div>

      <h2>Arvostelusi</h2>
      <textarea name="content" rows="4" cols="50" required placeholder="Kirjoita arvostelusi tähän mau! :3"></textarea
      ><br />
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <input type="submit" value="Lähetä :3" />
    </form>

    <a href="/teatimes">Takaisin valikkoon!</a>
  </body>
</html>
