<!DOCTYPE html>
<html>
  <head>
    <title>Muokkaa arvostelua</title>
    <link rel="stylesheet" href="/static/main.css">
  </head>
  <body>
    <h1>Muokkaa arvostelua</h1>

    <form action="/edit/{{ review.id }}" method="post">
      <p>
        Arvostelu:<br />
        <textarea name="content" rows="5" cols="40">{{ review.content }}</textarea>
      </p>
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <input type="submit" value="Lähetä" />
    </form>
  </body>
</html>
