<!DOCTYPE html>
<html>
  <head>
    <title>Muokkaa arvostelua</title>
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body>
    <div class="header">
      <h1>Muokkaa arvostelua</h1>
    </div>

    <nav class="nav">
      <a href="/teatimes">Teehetket</a> |
      <a href="/add_review">Lisää teehetki</a> |
      <a href="/search">Haku</a> |
      <a href="/">Etusivu</a> |
      {% if session.user_id %}
      <a href="/logout">Kirjaudu ulos</a> |
      <a href="/user/{{ session.user_id }}">Oma profiili</a>
      {% else %}
      <a href="/login">Kirjaudu sisään</a>
      {% endif %}
    </nav>

    {% for message in get_flashed_messages() %}
    <div class="message">{{ message }}</div>
    {% endfor %}

    <div class="create-review">
      <form action="/edit/{{ review.id }}" method="post">
        <h4>Arvostelun otsikko:</h4>
        <label for="title" class="hidden">Arvostelun otsikko:</label>
        <input type="text" id="title" name="title" value="{{ review.title }}" maxlength="100" required />

        <h4>Tassuarvosana:</h4>
        {% for i in range(1, 6) %}
        <label for="rating-{{ i }}" class="hidden">Teehetken arvosana {{ i }}:</label>
        <input type="radio" id="rating-{{ i }}" name="rating" value="{{ i }}" {% if review.rating == i %}checked{% endif%} /> {{ i }} 
        {% endfor %}

        <h4>Arvostelu:</h4>
        <label for="content" class="hidden">Arvostelu:</label>
        <textarea id="content" name="content" rows="5" maxlength="5000" required>{{ review.content }}</textarea>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="submit" value="Lähetä" />
      </form>
    </div>

    <div class="buttons">
      <a href="/review/{{ review.id }}">Takaisin arvosteluun</a>
    </div>
  </body>
</html>
