<!DOCTYPE html>
<html>

<head>
  <title>Teemukissa</title>
</head>

<body>
  <h1>Teemukissa</h1>

  {% if session.user_id %}
  <h3>Ihana nähdä {{ session['username'] }} :3</h3>
  {% endif %}
  <p>
    {% if session.user_id %}
      <a href="/logout">Kirjaudu ulos</a>
    {% else %}
      <a href="/login">Kirjaudu sisään</a> |
      <a href="/register">Luo tunnus</a>
    {% endif %}
  </p>

  <hr />
  <p>
    <a href="/teatimes">Teehetket</a>
    <br />
    <hr />
    <a href="/add_review">Lisää teehetki</a>
    <br />
    <hr />
    <a href="/search">Hae teehetkiä</a>
    <br />
  </p>
  <hr />
</body>

</html>