<!DOCTYPE html>
<html>

<head>
  <title>Teemukissa</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="header">
    <h1>Teemukissa</h1>
  </div>

  {% if session.user_id %}
  <h3>Ihana nähdä {{ session['username'] }} :3</h3>
  {% endif %}
  <p>
    <div class="nav">
    {% if session.user_id %}
      <a href="/logout">Kirjaudu ulos</a>
    {% else %}
      <a href="/login">Kirjaudu sisään</a> |
      <a href="/register">Luo tunnus</a>
    {% endif %}
    </div>
  </p>

  <hr />
  <p>
    <div class="buttons">
    <a href="/teatimes">Teehetket</a> |
    <a href="/add_review">Lisää teehetki</a> |
    <a href="/search">Hae teehetkiä</a>
    </div>
  </p>
</body>

</html>