<!DOCTYPE html>
<html>
  <head>
    <title>Teemukissa</title>
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body>
    <header class="header">
      <h1>Teemukissa</h1>
    </header>

    {% for message in get_flashed_messages() %}
    <div class="message">{{ message }}</div>
    {% endfor %}

    {% if session.user_id %}
    <h3>Ihana nähdä {{ session["username"] }} :3</h3>
    {% endif %}

    <nav class="nav">
      {% if session.user_id %}
      <a href="/logout">Kirjaudu ulos</a> |
      <a href="/user/{{ session.user_id }}">Oma profiili</a>
      {% else %}
      <a href="/login">Kirjaudu sisään</a> |
      <a href="/register">Luo tunnus</a>
      {% endif %}
    </nav>

    <div class="buttons">
      <a href="/teatimes">Teehetket</a> |
      <a href="/add_review">Lisää teehetki</a> |
      <a href="/search">Hae teehetkiä</a>
    </div>
  </body>
</html>
