<!DOCTYPE html>
<html>
  <head>
    <title>Kirjaudu sisään</title>
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body>
    <div class="header">
      <h1>Kirjaudu sisään</h1>
    </div>

    <nav class="nav">
      <a href="/teatimes">Teehetket</a> | <a href="/add_review">Lisää teehetki</a> | <a href="/search">Haku</a> |
      <a href="/">Etusivu</a> |
      <a href="/register">Luo tunnus</a>
    </nav>

    {% for message in get_flashed_messages() %}
    <div class="message">{{ message }}</div>
    {% endfor %}

    <div class="form">
      <form action="/login" method="post">
        <label for="username">Tunnus:</label>
        <input type="text" name="username" required />

        <label for="password">Turvakisu:</label>
        <input type="password" name="password" required />

        <input type="submit" value="Kirjaudu" />
      </form>
    </div>
  </body>
</html>
