<!DOCTYPE html>
<html>
  <head>
    <title>Kirjaudu sisään</title>
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body>
    <div class="header">
      <h1>Kirjaudu sisään</h1>
    </div>

    {% for message in get_flashed_messages() %}
    <p><strong>{{ message }}</strong></p>
    {% endfor %}

    <div class="form">
      <form action="/login" method="post">
        <label for="username">Tunnus:</label>
        <input type="text" name="username" required />

        <label for="password">Turvakisu:</label>
        <input type="password" name="password" required />

        <input type="submit" value="Kirjaudu" />
      </form>
    </div>

    <div class="buttons">
      <a href="/">Etusivulle :3</a> |
      <a href="/register">Luo tunnus</a>
    </div>
  </body>
</html>
