<!DOCTYPE html>
<html>
  <head>
    <title>Luo tunnus :3</title>
    <link rel="stylesheet" href="/static/main.css">
  </head>
  <body>
    <h1>Luo tunnus</h1>

    {% if success_message %}
    <p>{{ success_message }}</p>
    {% endif %} {% if show_form %}
    <form action="/register" method="post">
      <p>
        Tunnus: <br />
        <input type="text" name="username" maxlength="30" required />
      </p>
      <p>
        Turvakisu: <br />
        <input type="password" name="password1" maxlength="30" required />
      </p>
      <p>
        Turvakisu uudestaan: <br />
        <input type="password" name="password2" maxlength="30" required />
      </p>
      <input type="submit" value="Luo tunnus" />
    </form>
    {% endif %}

    <hr />
    <p>
      <div class="buttons">
        <a href="/">Etusivulle</a> |
        <a href="/teatimes">Teehetket</a> |
        <a href="/add_review">Lisää teehetki</a> |
        <a href="/search">Hae teehetkiä</a>
      </div>
  </p>
  </body>
</html>
