<!DOCTYPE html>
<html>
  <head>
    <title>Luo tunnus :3</title>
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body>
    <div class="header">
      <h1>Luo tunnus</h1>
    </div>

    {% for message in get_flashed_messages() %}
    <p><strong>{{ message }}</strong></p>
    {% endfor %}

    <div class="form">
      <form action="/register" method="post">
        <label for="username">Tunnus:</label>
        <input type="text" name="username" value="{{ filled.username }}" maxlength="30" required />

        <label for="password1">Turvakisu:</label>
        <input type="password" name="password1" maxlength="30" required />

        <label for="password2">Turvakisu uudestaan:</label>
        <input type="password" name="password2" maxlength="30" required />

        <input type="submit" value="Luo tunnus" />
      </form>
    </div>

    <div class="buttons">
      <a href="/">Etusivulle</a> | <a href="/teatimes">Teehetket</a> | <a href="/add_review">Lisää teehetki</a> |
      <a href="/search">Hae teehetkiä</a>
    </div>
  </body>
</html>
