<!DOCTYPE html>
<html>
  <head>
    <title>Poista arvostelu</title>
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body>
    <div class="header">
      <h1>Poista arvostelu</h1>
    </div>

    <nav class="nav">
      <a href="/teatimes">Teehetket</a> |
      <a href="/add_review">Lisää teehetki</a> |
      <a href="/search">Haku</a> |
      <a href="/">Etusivu</a> | 
      {% if session.user_id %}
      <a href="/logout">Kirjaudu ulos</a> |
      <a href="/user/{{ session.user_id }}">Oma profiili</a>
      {% else %}
      <a href="/login">Kirjaudu sisään</a>
      {% endif %}
    </nav>

    <div class="create-review">
      <form action="/remove/{{ review.id }}" method="post">
        <p>Haluatko varmasti poistaa arvostelun?</p>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="submit" name="continue" value="Jatka" />
        <input type="submit" name="cancel" value="Peruuta" />
      </form>
    </div>

    <div class="buttons">
      <a href="/review/{{ review.id }}">Takaisin arvosteluun</a>
    </div>
  </body>
</html>
