<!DOCTYPE html>
<html>

<head>
    <title>Poista arvostelu</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <h1>Poista arvostelu</h1>

    <form action="/remove/{{ review.id }}" method="post">
        <p>
            Haluatko varmasti poistaa arvostelun?
        </p>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="submit" name="continue" value="Jatka" />
        <input type="submit" name="cancel" value="Peruuta" />
    </form>
</body>
</html>