<!DOCTYPE html>
<html>
  <head>
    <title>Haku</title>
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body>
    <div class="header">
      <h1>Haku</h1>
    </div>

    {% if session.user_id %}
    <h3>Mitäs etsit {{ session["username"] }}?</h3>
    {% endif %}

    <nav class="nav">
      <a href="/teatimes">Teehetket</a> |
      <a href="/add_review">Lisää teehetki</a> |
      <a href="/">Etusivu</a> |
      {% if session.user_id %}
      <a href="/logout">Kirjaudu ulos</a> |
      <a href="/user/{{ session.user_id }}">Oma profiili</a>
      {% else %}
      <a href="/login">Kirjaudu sisään</a>
      {% endif %}
    </nav>

    {% for message in get_flashed_messages() %}
    <div class="message">{{ message }}</div>
    {% endfor %}

    <div class="form">
      <form action="/search" method="get">
        <label for="query">Hakusana:</label>
        <label for="query" class="hidden">Hakusana:</label>
        <input type="text" id="query" name="query" value="{{ query if query else "" }}" required />
        <input type="submit" value="Hae" />
      </form>
    </div>

    {% if query is not none %}
    <h2>Tulokset</h2>

    {% if results %}
    <div class="reviews">
      <ul>
        {% for result in results %}
        <li class="review">
          <h3><a href="/review/{{ result.id }}">{{ result.title | show_lines }}</a></h3>
          <strong>{{ result.variety.capitalize() }}:</strong> {{ result.content | show_lines }}
          <br />
          <em><a href="/user/{{ result.user_id }}">{{ result.username }}</a> ({{ result.sent_at }})</em>
        </li>
        {% endfor %}
      </ul>
      <p>
        {% if page > 1 %}
        <a href="/search/{{ page - 1 }}?query={{ query }}">&lt;&lt; Edellinen</a>
        {% endif %} Sivu {{ page }}/{{ page_count }} {% if page < page_count %}
        <a href="/search/{{ page + 1 }}?query={{ query }}">Seuraava &gt;&gt;</a>
        {% endif %}
      </p>
    </div>
    {% else %}
    <p>Mitään ei löytynyt!</p>
    {% endif %} {% endif %}
  </body>
</html>
