<!DOCTYPE html>
<html>
  <head>
    <title>Haku</title>
    <link rel="stylesheet" href="/static/main.css">
  </head>
  <body>
    <h1>Haku</h1>
    {% if session.user_id %}
    <h3>Mitäs etsit {{ session['username'] }}?</h3>
    {% endif %}
    <p>
      {% if session.user_id %}
      <a href="/logout">Kirjaudu ulos</a> |
      {% else %}
      <a href="/login">Kirjaudu sisään</a> |
      {% endif %}
      <a href="/">Etusivulle</a>
    </p>

    <form action="/search" method="get">
      <p>
        Hakusana: {% if query %}
        <input type="text" name="query" value="{{ query }}" />
        {% else %}
        <input type="text" name="query" />
        {% endif %}
      </p>
      <input type="submit" value="Hae" />
    </form>

    {% if query is not none %}
    <hr />
    <h2>Tulokset</h2>

    {% if results %}
    <ul>
      {% for result in results %}
      <li>
        <strong>{{ result.variety.capitalize() }}:</strong> {{ result.content }}
        <br />
        <em> <a href="/user/{{ result.user_id }}">{{ result.username }}</a> ({{ result.sent_at }}) </em>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>Mitään ei löytynyt!</p>
    {% endif %} {% endif %}
  </body>
</html>
