<!DOCTYPE html>
<html>
  <head>
    <title>{{ tea_variety.capitalize() }} arvostelut</title>
    <link rel="stylesheet" href="/static/main.css">
  </head>
  <body>
    <div class="header">
      <h1>{{ tea_variety.capitalize() }} arvostelut</h1>
    </div>
    <div class="reviews">
      {% if reviews %}
        {% for review in reviews %}
        <div class="review">
          <strong><a href="/user/{{ review.user_id }}">{{ review.username }}</a>:</strong>
          {{ review.content }}
          <em>({{ review.sent_at }})</em>
          <div class="actions">
            {% if review.user_id == session['user_id'] %}
            <a href="/edit/{{ review.id }}">Muokkaa</a> |
            <a href="/remove/{{ review.id }}">Poista</a>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      {% else %}
      <p>Ei vielä arvosteluita tälle teelle!</p>
      {% endif %}
    </div>

    <h2>Lisää arvostelu teelle :3</h2>
    <form action="/add_review" method="POST">
      <input type="hidden" name="variety" value="{{ tea_variety }}" required />

      <textarea name="content" rows="4" cols="50" required placeholder="Kirjoita arvostelusi tähän mau! :3"></textarea
      ><br />
      <input type="submit" value="Lähetä :3" />
    </form>

    <a href="/teatimes">Takaisin valikkoon!</a>
  </body>
</html>
