<!DOCTYPE html>
<html>

<head>
  <title>Teehetket</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="header">
    <h1>Teehetket</h1>
  </div>
  {% if session.user_id %}
  <h3>Mikäs mauuustuisi {{ session["username"] }}?</h3>
  {% endif %}

  <p>
    <div class="nav">
    <a href="/search">Haku</a> |
    {% if session.user_id %}
    <a href="/logout">Kirjaudu ulos</a> |
    {% else %}
    <a href="/login">Kirjaudu sisään</a> |
    {% endif %}
    <a href="/">Etusivulle</a>
    </div>
  </p>
  <hr />

  <div class="buttons">
    {% for variety in varieties %}
        <a href="/tea/{{ variety.name }}">{{ variety.name.capitalize() }}</a>
        {% if not loop.last %} | {% endif %}
    {% endfor %}
  </div>

  {% if session.user_id %}
  <hr />
  <p>
    <div class="buttons">
    <a href="/add_review">Lisää teehetki</a>
    </div>
  </p>
  <hr />
  {% endif %}
</body>

</html>