<!DOCTYPE html>
<html>
  <head>
    <title>Käyttäjä {{ profile_user.username }}</title>
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body>
    <h1>Käyttäjä {{ profile_user.username }}</h1>

  <p>
    <div class="nav">
    <a href="/search">Haku</a> |
    <a href="/">Etusivulle</a> |
    {% if session.user_id %}
    <a href="/logout">Kirjaudu ulos</a> |
    <a href="/user/{{ session.user_id }}">Oma profiili</a>
    {% else %}
    <a href="/login">Kirjaudu sisään</a>
    {% endif %}
    </div>
  </p>

    {% if profile_user.has_image %}
    <img src="/image/{{ profile_user.id }}" />
    {% endif %} {% if profile_user.id == logged_in_user %}
    <p>
      <a href="/add_image">Lisää profiilikuva</a>
    </p>
    {% endif %}

    <p>Käyttäjä on lähettänyt {{ reviews | count }} arvostelua</p>

    {% if stats.most_reviewed_tea %}
    <p>Eniten arvosteltu tee: {{ stats.most_reviewed_tea[0] }} ({{ stats.most_reviewed_tea[1] }} arvostelua)</p>
    {% else %}
    <p>Käyttäjä ei ole vielä arvostellut yhtään teetä.</p>
    {% endif %} {% if reviews %}
    <h2>Arvostelut</h2>
    <ul>
      {% for review in reviews %}
      <li>
        <h3>{{ review.title }}</h3>
        <strong>{{ review.variety_name }}:</strong> {{ review.content | show_lines }}
        <em>({{ review.sent_at }})</em>
        {% if review.rating %}
        <p>Tassuarvosana: {{ review.rating }}</p>
        {% endif %}
        <div class="actions">
          {% if profile_user.id == logged_in_user %}
          <a href="/edit/{{ review.id }}">Muokkaa</a> |
          <a href="/remove/{{ review.id }}">Poista</a>
          {% endif %}
        </div>
        <h3>Komentit:</h3>
        <ul>
          {% for comment in comments[review['id']] %}
          <li>
            <strong><a href="/user/{{ comment.user_id }}">{{ comment.username }}</a>:</strong> {{ comment.content |
            show_lines }}
            <em>({{ comment.sent_at }})</em>
          </li>
          {% endfor %}
        </ul>

        <h4>Lisää kommentti:</h4>
        <form action="/add_comment" method="POST">
          <input type="hidden" name="review_id" value="{{ review['id'] }}" />
          <input type="hidden" name="source" value="user" />
          <textarea name="content" rows="2" cols="50" required placeholder="Kirjoita kommenttisi tähän..."></textarea
          ><br />
          <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
          <input type="submit" value="Lisää kommentti" />
        </form>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>Käyttäjä ei ole kirjoittanut vielä arvosteluita!</p>
    {% endif %}
  </body>
</html>
